checkpoints
checkpoints.zip
ckpts
__pycache__
.cache
.gradio
gradio/reference_video/**
recordings/output_audio/**
recordings/ref_aduio/**
recordings/output_video/**
recordings/reference_images/user_face.jpg